@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.answer{
  @apply 
    block
    border-2 
    border-black
    cursor-pointer 
    select-none 
    rounded-xl 
    p-2 
    text-center
    bg-gray-200
    peer-checked:bg-blue-500 
    peer-checked:font-bold 
    peer-checked:text-white
    hover:-translate-y-[3px]
    hover:scale-105
    transition
  ;
}

.button {
  @apply 
    border-2 rounded-md border-black px-4 w-1/6 h-8
    bg-gradient-to-r from-blue-500 to-blue-400
    text-white
    /* hover:scale-105 */
    transition
}